[submodule "lib/stm32f1xx-hal-driver"]
	path = lib/stm32f1xx-hal-driver
	url = git@github.com:STMicroelectronics/stm32f1xx-hal-driver.git
[submodule "lib/cmsis-device-f1"]
	path = lib/cmsis-device-f1
	url = git@github.com:STMicroelectronics/cmsis-device-f1.git
[submodule "lib/cmsis"]
	path = lib/cmsis
	url = git@github.com:STMicroelectronics/cmsis-core.git
