[submodule "libs/stm32f1xx-hal-driver"]
	path = libs/stm32f1xx-hal-driver
	url = git@github.com:STMicroelectronics/stm32f1xx-hal-driver.git
[submodule "libs/cmsis-device-f1"]
	path = libs/cmsis-device-f1
	url = git@github.com:STMicroelectronics/cmsis-device-f1.git
[submodule "libs/cmsis"]
	path = libs/cmsis
	url = git@github.com:STMicroelectronics/cmsis-core.git
